*{
    background-color: white;
}
.google{
    height: 100px;
    width: 300px;
    margin-top: 180px;
    margin-left: 550px;
}
nav{
    text-align: right;
}
.menu{
    margin-left: 10px;
    justify-content: center;
    text-decoration: none;
    color: rgb(78, 78, 78);
}
.pic{
    height: 30px;
    width: 30px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
   
}
.dropdown{
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-left: 10px;
}

#bar{
   margin: 15px;
   border-radius: 22px;
   color: rgb(56, 55, 55);
   margin-top: 20px;
    margin-left: 480px;
    width: 450px;
    height: 30px;
}
.mic{
    position: absolute;
    top: 56%;
    margin-left: 892px;  
    height: 25px;
    width: 25px;
 }
.Sec{
    margin-left: 540px;
    width: 150px;
    height: 25px;
    background-color: rgb(241, 239, 239);

}
.Third{
    position:absolute;
     top: 62.8%;
     right: 36.5%;
        margin-left: 720px;
        width: 150px;
        height: 25px;
        background-color: rgb(248, 242, 242);
     
    }    


